.jumbotron {
    background: url('../images/rearingHorse.jpeg') no-repeat center center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
    text-align: center;
}
.naming {
    text-align: center;
    padding: 100px;
    border-top: 5px double #876841;
    border-bottom: 5px double #876841;
}
